<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2020-2024 Limbo Team (https://github.com/limbo-world).

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 	http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.limbo.flowjob.tracker.dao.mybatis.JobExecuteRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="JobExecuteRecordPO" type="org.limbo.flowjob.tracker.dao.po.JobExecuteRecordPO">
        <id column="serial_id" property="serialId" />
        <result column="job_id" property="jobId" />
        <result column="record_id" property="recordId" />
        <result column="status" property="status" />
        <result column="worker_id" property="workerId" />
        <result column="attributes" property="attributes" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        job_id, record_id, status, worker_id, attributes, created_at, updated_at
    </sql>

</mapper>
