<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.limbo.flowjob.tracker.dao.mybatis.WorkerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="WorkerPO" type="org.limbo.flowjob.tracker.dao.po.WorkerPO">
        <id column="serial_id" property="serialId" />
        <result column="worker_id" property="workerId" />
        <result column="protocol" property="protocol" />
        <result column="ip" property="ip" />
        <result column="port" property="port" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <insert id="insertIgnore">
        INSERT IGNORE INTO worker (
            worker_id, protocol, ip, port, status
        ) VALUES (
            #{workerId}, #{protocol}, #{ip}, #{port}, #{status}
        )
    </insert>

</mapper>
