<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.limbo.flowjob.tracker.dao.mybatis.WorkerMetricMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.limbo.flowjob.tracker.dao.po.WorkerMetricPO">
        <id column="worker_id" property="workerId" />
        <result column="executing_jobs" property="executingJobs" />
        <result column="available_cpu" property="availableCpu" />
        <result column="available_ram" property="availableRam" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        worker_id, executing_jobs, available_cpu, available_ram, updated_at
    </sql>

</mapper>
